<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Image Encryption App</title>
		<meta name="description" content="This is a web app">
		<meta name="keywords" content="web app">
		<meta name="author" content="Janina Soriano">
	</head>


	<body>
		<!-- Logo/Sitename -->
		<h2>Image Encryption App</h2>

		
	    <!-- Upload Image -->
		
		<strong>DECRYPT PASSWORD</strong>

		<!-- Since it's not just type test, have to use multipart form data. Code from w3schools -->
		<!-- Allow only images using accept="image/*" from stack overflow -->
		<form action = "/decryptPass" method="POST" enctype="multipart/form-data">

			<p>Password: <input type="text" name="password"></p>


			<button type="submit" value="Submit">SUBMIT</button>
		</form>

		<form action="/">
	    	<button type="submit" name="home" value="home">HOME</button>
	    </form>

    	<form action="/encrypt">
	    	<button type="submit" name="encrypt" value="encrypt">ENCRYPT</button>
	    </form>
	</body>
</html>