<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Image Encryption App</title>
		<meta name="description" content="This is a web app">
		<meta name="keywords" content="web app">
		<meta name="author" content="Janina Soriano">
	</head>


	<body>
	<!-- Logo/Sitename -->
	<h2>Image Encryption App</h2>

	<form action="/encrypt">
		<button type="submit" name="encrypt" value="encrypt">Encrypt Image</button>
	</form>
	
	<form action="/decrypt" method="POST">
		<button type="submit" name="decrypt" value="decrypt">Decrypt Image</button>
	</form>

	</body>
</html>