<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Image Encryption App</title>
		<meta name="description" content="This is a web app">
		<meta name="keywords" content="web app">
		<meta name="author" content="Janina Soriano">
	</head>


	<body>
	<!-- Logo/Sitename -->
	<h2>Image Encryption App</h2>

	<!-- Print Error Message -->
	{% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

    <!-- Return to homepage -->
    <form action="/">
    	<button type="submit">HOME</button>
    </form>
	</body>
</html>